a {
  text-decoration: none;
  color: #3f51b5;
}

p {
  color: #3f51b5;
  font-weight: 500;
  font-size: large;
}

.input-element {
  width: 100%;
}

.spinner-bar {
  padding-top: 5px;
}

.text-xs-center {
  text-align: center !important;
}

.text-muted {
  color: #9ba8b5;
}

::ng-deep .mat-form-field-flex {
  height: 50px;
}
