<p class="text-xs-center">Вход</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Логин</mat-label>
      <input matInput formControlName="login" [required]="true" />
      <mat-error *ngIf="form.get('login').errors?.required && form.get('login').touched"
        >Введите логин
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" type="password" [required]="true" />
      <mat-error *ngIf="form.get('password').errors?.required && form.get('password').touched"
        >Введите пароль
      </mat-error>
    </mat-form-field>
  </div>

  <div class="text-xs-center">
    <button mat-stroked-button color="primary" type="submit" [disabled]="form.invalid">
      Войти
    </button>
  </div>
  <div class="spinner-bar">
    <mat-progress-bar *ngIf="loadingEnter" [mode]="'indeterminate'"></mat-progress-bar>
  </div>
  <div>
    <p class="text-xs-center text-muted">
      Нет аккаунта?
      <a [routerLink]="'../registration'">Зарегистрироваться</a>
    </p>
  </div>
</form>
