.auth {
  width: 100%;
  height: 100%;
  background-color: #667380;
  overflow-x: hidden;
  overflow-y: auto;
}

.auth-container {
  width: 450px;
  min-height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.auth-header {
  text-align: center;
  border-bottom: 1px solid #52bcd3;
}

.auth-title {
  color: palevioletred;
  padding: 20px;
  line-height: 15px;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.auth-content {
  padding: 20px 30px;
  min-height: 260px;
}

.card {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
  margin-bottom: 10px;
  border-radius: 0;
  border: none;
}
