a {
  text-decoration: none;
  color: #3f51b5;
}

.input-element {
  width: 100%;
}

p {
  color: #3f51b5;
  font-weight: 500;
}

button {
  margin-top: 20px;
}

.text-xs-center {
  text-align: center !important;
}

.text-muted {
  color: #9ba8b5;
}

::ng-deep .mat-form-field-flex {
  height: 50px;
}

.spinner {
  position: absolute;
  right: -5px;
  top: 4px;
}

.spinner-bar {
  padding-top: 5px;
}

::ng-deep .error {
  color: red;
  background-color: rgba(167,167,167,0.9);
  font-weight: bold;
}
