<p class="text-xs-center">Зарегистрируйтесь чтобы войти</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Ваше имя</mat-label>
      <input matInput formControlName="name" [required]="true"/>
      <mat-error *ngIf="form.get('name').invalid && form.get('name').touched"
      >Это поле обязательно для заполнения
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Логин для входа</mat-label>
      <input matInput formControlName="login" [required]="true"/>
      <mat-error *ngIf="form.get('login').errors?.required && form.get('login').touched"
      >Это поле обязательно для заполнения
      </mat-error>
      <mat-error *ngIf="form.get('login').errors?.forbiddenLogin">{{
        form.get('login').errors?.forbiddenLogin
        }}</mat-error>
      <mat-spinner *ngIf="loadingLogin" class="spinner" [diameter]="20"></mat-spinner>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Пароль для входа</mat-label>
      <input matInput formControlName="password" type="password" [required]="true"/>
      <mat-error *ngIf="form.get('password').errors?.required && form.get('password').touched"
      >Это поле обязательно для заполнения
      </mat-error>
      <mat-error *ngIf="form.get('password').errors?.minlength && form.get('password').touched">
        Минимальное количество знаков {{ form.get('password').errors?.minlength?.requiredLength }}.
        Вы ввели {{ form.get('password').errors?.minlength?.actualLength }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-element" appearance="outline">
      <mat-label>Повторите пароль</mat-label>
      <input matInput formControlName="confirmation" type="password" [required]="true"/>
      <mat-error
        *ngIf="form.get('confirmation').errors?.required && form.get('confirmation').touched"
      >Это поле обязательно для заполнения
      </mat-error>
      <mat-error
        *ngIf="
          form.get('confirmation').touched && form.get('confirmation').errors?.confirmationValidator
        "
      >
        {{ form.get('confirmation').errors?.confirmationValidator }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="text-xs-center">
    <button mat-stroked-button color="primary" type="submit" [disabled]="form.invalid">
      Зарегистрироваться
    </button>
  </div>
  <div class="spinner-bar">
    <mat-progress-bar *ngIf="loadingSingUp" [mode]="'indeterminate'"></mat-progress-bar>
  </div>
  <div>
    <p class="text-xs-center text-muted">
      Уже есть аккаунт?
      <a [routerLink]="'../login'">Войти</a>
    </p>
  </div>
</form>
