.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.goal-creation-form {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.card {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
  margin-bottom: 10px;
  border-radius: 0;
  border: none;
  padding: 20px 30px;
  min-height: 260px;
}

.input-element {
  width: 100%;
}

.text-xs-center {
  text-align: center !important;
}

::ng-deep .mat-form-field-flex {
  height: 50px;
}

.importance-choice {
  width: 50px;
  margin: .25em 0;
  padding-bottom: 1.34375em;
}
