<div class="main-container">

  <div class="goal-creation-form">

    <div class="card">
      <p class="text-xs-center">Создание цели</p>
      <form [formGroup]="form">

        <mat-form-field class="input-element" appearance="outline">
          <mat-label>Название</mat-label>
          <input matInput formControlName="name" [required]="true"/>
        </mat-form-field>

        <mat-form-field class="input-element" >
          <input matInput [matDatepicker]="picker" placeholder="К какому числу цель должна быть достигнута?">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="input-element" appearance="outline">
          <mat-select placeholder="Родительская цель" formControlName="parent">
            <mat-option value="option">Родитель 1</mat-option>
            <mat-option value="option">Родитель 2</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="importance-choice">
          <mat-radio-group aria-label="Select an option">
            <mat-label>Важность:</mat-label>
            <mat-radio-button value="1">Важное</mat-radio-button>
            <mat-radio-button value="2">Неважное</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="importance-choice">
          <mat-radio-group aria-label="Select an option">
            <mat-label>Срочность:</mat-label>
            <mat-radio-button value="1">Срочное</mat-radio-button>
            <mat-radio-button value="2">Несрочное</mat-radio-button>
          </mat-radio-group>
        </div>


        <div class="text-xs-center">
          <button mat-stroked-button color="primary" type="submit">
            Войти
          </button>
        </div>
      </form>
    </div>

  </div>

</div>
