.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #6688ee;
}


.important-urgent {
  background-color: palevioletred;
  height: 50%;
  width: 50%;
}

.important-non-urgent {
  background-color: aliceblue;
  height: 50%;
  width: 50%;
}

.unimportant-urgent {
  background-color: palegoldenrod;
  height: 50%;
  width: 50%;
}

.unimportant-non-urgent {
  background-color: limegreen;
  height: 50%;
  width: 50%;
}
