<div class="main-container">

  <div class="important-urgent">Важное срочное</div>

  <div class="important-non-urgent">Важное несрочное</div>

  <div class="unimportant-urgent">Неважное срочное</div>

  <div class="unimportant-non-urgent">Неважное несрочное</div>
</div>
