.button-row button {
  margin-right: 8px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 830px;
}

.login-box {
  padding-top: 20px;
}

.menu {
  text-align: center;
  height: 70px;
  padding-top: 20px;
}


