<div class="header">

  <div>
    <a href="/src/app/auth/login">
      <img src="../../../assets/img/logo.png" height="65" width="70"/>
    </a>
  </div>

  <div class="menu">
    <nav>
      <a mat-button [routerLink]="['/creation']">Создать цель</a>
      <a mat-button [routerLink]="['/matrix']">Матрица важности</a>
      <a mat-button [routerLink]="['/calendar']">Календарь</a>
      <a mat-button [routerLink]="['/goal-tree']">Дерево целей</a>
    </nav>
  </div>

  <div class="login-box">
    <div *ngIf="isLogged">Здравствуйте, {{user.name}}</div>
    <div *ngIf="!isLogged" class="button-row">
      <button mat-stroked-button color="primary">Войти</button>
      <button mat-raised-button color="primary">Регистрация</button>
    </div>
  </div>

</div>

