.header-component {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom-color: #667380;
  border-bottom-style: solid;
}

.main-content {
  background-color: crimson;
  padding-top: 70px;
  width: 100%;
}

.system {
  background-color: burlywood;
  width: 100%;
  height: 100%;
  display: flex;
}
